---
import { ExamplePage } from "../lib/page"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<ExamplePage client:load />
	</body>
</html>

<style lang="sass" is:global>
	:root
		--grid-size: 50px
		--piece-size: 35px
		--grid-background: #393053
		--grid-background-hover: #443C68
		--grid-border: #18122B
		--grid-black: #121212
		--grid-white: #53907e

	body
		background-color: #121212

	.board
		*
			transition: all .5s cubic-bezier(0,.93,.94,.9)
</style>
